/WarriorModel/obj
/WarriorModel/bin
/.vs/WarriorModel/DesignTimeBuild/.dtbcache
/.vs/WarriorModel/v16/.suo
/.vs/WarriorModel/v16/Server/sqlite3/db.lock
/.vs/WarriorModel/v16/Server/sqlite3/storage.ide
